<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Parcel Booked</title>
</head>
<body>
     
  <p style="text-align: left; font-family:Georgia, 'Times New Roman', Times, serif; font-size:10px; line-height: 1.3;">Dear <b>{{recievername}},</b></p>
  <p style="font-family:Georgia, 'Times New Roman', Times, serif; font-size:10px;  line-height: 1.4;">Thank you for using Jetlane Worldwide Express!</p>
  <p style="font-family:Georgia, 'Times New Roman', Times, serif; font-size:10px;  line-height: 1.4;">We are happy to inform you that a parcel was successfully fulfilled and about to be shipped on your behalf.</p>
<p style="text-decoration: underline; font-weight:bold; font-size:10px; margin-top:20px; margin-bottom:0px; padding-bottom:0px; font-family:Georgia, 'Times New Roman', Times, serif;">Parcel details</p>
 <ul style="list-style-type: none; text-align:left;  padding:0; margin:0; font-family:'Courier New', Courier, monospace; font-size:10px;   line-height: 1.6;  letter-spacing: 2px;"></ul>
  <li style="list-style-type: none; text-align:left; margin-top:0px; padding-top:0px;  font-family:Georgia, 'Times New Roman', Times, serif; font-size:10px;">Sender Name: {{sendername}}</li>
    <li style="list-style-type: none; text-align:left; margin-top:0px; padding-top:0px;  font-family:Georgia, 'Times New Roman', Times, serif; font-size:10px;">Sender Phone: {{senderphone}}</li>
  <li style="list-style-type: none; text-align:left; font-family:Georgia, 'Times New Roman', Times, serif; font-size:10px;">Sender Email: {{senderemail}}</li> 
  <li style="list-style-type: none; text-align:left; font-family:Georgia, 'Times New Roman', Times, serif; font-size:10px;">Sender Address: {{senderaddress}}</li>
   <li style="list-style-type: none; text-align:left; font-family:Georgia, 'Times New Roman', Times, serif; font-size:10px;">Receiver Name: {{recievername}}</li>
  <li style="list-style-type: none; text-align:left; font-family:Georgia, 'Times New Roman', Times, serif; font-size:10px;">Receiver Phone: {{recieverphone}}</li>
   <li style="list-style-type: none; text-align:left; font-family:Georgia, 'Times New Roman', Times, serif; font-size:10px;">Receiver Email: {{recieveremail}}</li>
   <li style="list-style-type: none; text-align:left; font-family:Georgia, 'Times New Roman', Times, serif; font-size:10px;">Receiver Address: {{receiveraddress}}</li> 
  <li style="list-style-type: none; text-align:left; font-family:Georgia, 'Times New Roman', Times, serif; font-size:10px;">Package Origin: {{packageorigin}}</li>
   <li style="list-style-type: none; text-align:left; font-family:Georgia, 'Times New Roman', Times, serif; font-size:10px;">Package Destination: {{packagedestination}}</li>
  <li style="list-style-type: none; text-align:left; font-family:Georgia, 'Times New Roman', Times, serif; font-size:10px;">Weight: {{weight}}</li>
   <li style="list-style-type: none; text-align:left; font-family:Georgia, 'Times New Roman', Times, serif; font-size:10px;">Cost: {{charge}}</li>
   <li style="list-style-type: none; text-align:left; font-family:Georgia, 'Times New Roman', Times, serif; font-size:10px;">Number Of Packages: {{numberofpackage}}</li> 
  <li style="list-style-type: none; text-align:left; font-family:Georgia, 'Times New Roman', Times, serif; font-size:10px;">Consignment Type: {{consignmenttype}}</li>
   <li style="list-style-type: none; text-align:left; font-family:Georgia, 'Times New Roman', Times, serif; font-size:10px;">Shipment Date: {{shipmentdate}}</li>
  <li style="list-style-type: none; text-align:left; font-family:Georgia, 'Times New Roman', Times, serif; font-size:10px;">Delivery Date: {{deliverydate}}</li>
   <li style="list-style-type: none; text-align:left; font-family:Georgia, 'Times New Roman', Times, serif; font-size:10px;">Tracking Number: {{trackingnumber}}</li>
    <p style="font-family:Georgia, 'Times New Roman', Times, serif; font-size:10px;  line-height: 1.4; margin-top:20px;" ><b>Note:</b> Use the tracking number above to check the current location of your parcel.</p>
  <h1 style="font-family:Georgia, 'Times New Roman', Times, serif;  line-height: 1.4; font-size:10px; margin-top:20px;" >*PLEASE WE EXPECT A CONFIRMATION RESPONSE FROM YOU WITHIN 24 HOURS VIA THIS EMAIL*</h1>
  <p style="font-family:Georgia, 'Times New Roman', Times, serif; font-size:10px;  line-height: 1.4; margin-top:20px;" >If you have further questions or comments concerning this information, kindly reply this email or visit the FAQ/Live Chat section on our website. <a href="https://jetlaneworldwideexpress.com">jetlaneworldwideexpress.com</a></p>
  <p style="font-family:Georgia, 'Times New Roman', Times, serif; font-size:10px;  line-height: 1.4; margin-top:20px;" ><b>Please note: </b>The privacy and security of your details is important to us and we do not share your email with a third party.</p>
  <p style="font-family:Georgia, 'Times New Roman', Times, serif; font-size:8px; font-weight:bold; line-height: 1.4; margin-top:30px; text-align:center; margin-bottom:0px; padding-bottom:0px;" >Copyright &copy; Jetlane Worldwide Express. All Rights Reserved.</p>
</body>

</html>